<h1>Record Sale</h1>
<%= form_tag items_update_stock_path, method: :post do %>
	<% @items.each do |item| %>
		<%= fields_for "items[]", item do |f| %>
			<div class="control-group">
          		<h3><%= item.name %></h3>
        		<div class="controls">
      				<%= f.text_field :sold_today, :class => 'text_field' %>
    			</div>
  			</div>
		<% end %>
	<% end %>
	<%= submit_tag "Submit" %>
<% end %>